.gitingore
tests_output/*
processing/*
reference_data/tiny.*
reference_data/*.d
tiny.1.output
tiny.2.output
tiny.3.output
tiny.4.output
tiny.5.output
tiny.6.output
very_tiny.10.output
very_tiny.1.output
very_tiny.2.output
very_tiny.3.output
very_tiny.4.output
very_tiny.5.output
very_tiny.6.output
very_tiny.7.output
very_tiny.8.output
very_tiny.9.output
*.[oa]
merger
ngram\.counting

